
<body style="height: 100%">
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">


    <!--chevron-left-->
    <p class="navbar-text pull-left">
      <a href="widget-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>



    <div class="navbar-header">
      <a class="navbar-brand thick">
        Widget Edit
      </a>
    </div>

    <!--plus tick-->
    <p class="navbar-text pull-right">
      <a href="widget-list.html" class="navbar-link">
        <span class="glyphicon glyphicon-ok"></span>
      </a>
    </p>

  </div>
</nav>
<div class="container">

  <label>Name</label>
  <input placeholder=" "
         type="text"
         class="form-control"/>



  <label>Text</label>
  <input placeholder=" "
         type="text"
         class="form-control"/>



  <label>URL</label>
  <input placeholder="http://youtube.be/uLWLashCXHE"
         type="text"
         class="form-control"/>


  <label>Width</label>
  <input placeholder=" "
         type="text"
         class="form-control"/>


  <a class="btn btn-danger btn-block "
     href= "widget-heading.html" >Delete</a>



</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
</body>


