


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--chevron-left-->
    <p class="navbar-text pull-left">
      <a routerLink="/user/:uid/website/:wid/page/:pid/widget" class="navbar-link">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
    </p>



    <div class="navbar-header">
      <a class="navbar-brand thick">
        Choose Widget
      </a>
    </div>


  </div>
</nav>



<li class="list-group-item">
  <div class="row">
    <a href = "widget-heading.html">
      <div class="col-xs-6 col-sm-3 color-blue ">Header </div>
      <div class="col-xs-100">
        <a routerLink="/user/:uid/website/:wid" class="pull-right">

        </a>
      </div>
    </a>
  </div>
</li>

<li class="list-group-item">
  <div class="row">
    <a href = "widget-heading.html">
      <div class="col-xs-6 col-sm-3 color-blue ">Header </div>
      <div class="col-xs-100">
        <a routerLink="/user/:uid/website/:wid" class="pull-right">

        </a>
      </div>
    </a>
  </div>
</li>

<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Label</div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid/page/:pid/widget/:wgid/header" class="pull-right">
      </a>
    </div>
  </div>
</li>



<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">HTML </div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid" class="pull-right">
      </a>
    </div>
  </div>
</li>



<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Text Input </div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid" class="pull-right">
      </a>
    </div>
  </div>
</li>



<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Link</div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid" class="pull-right">
      </a>
    </div>
  </div>
</li>


<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Button</div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid" class="pull-right">
      </a>
    </div>
  </div>
</li>


<li class="list-group-item">
  <div class="row">
    <a routerLink="user/:uid/website/:wid/page/:pid/widget/:wgid/image">
      <div class="col-xs-6 col-sm-3 color-blue">Image</div>
      <div class="col-xs-9">
        <a routerLink="/user/:uid/website/:wid" class="pull-right">
        </a>
      </div>
    </a>>
  </div>
</li>


<li class="list-group-item">
  <div class="row">
    <a routerLink="user/:uid/website/:wid/page/:pid/widget/:wgid/youtube">
      <div class="col-xs-6 col-sm-3 color-blue">YouTube</div>
      <div class="col-xs-9">
        <a routerLink="/user/:uid/website/:wid" class="pull-right">
        </a>
      </div>
    </a>>
  </div>
</li>


<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Data Table</div>
    <div class="col-xs-9">
      <a routerLink="/user/:uid/website/:wid" class="pull-right">
      </a>
    </div>
  </div>
</li>


<li class="list-group-item">
  <div class="row">
    <div class="col-xs-6 col-sm-3 color-blue">Reapeater</div>
    <div class="col-xs-9">
      <a href="website-edit.html" class="pull-right">
      </a>
    </div>
  </div>
</li>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

